.input_size_m
{
    height: 32px;
    line-height: 100%;

    font-size: 15px;
}

.input_size_m .input__box
{
    height: 100%;
}

.input_size_m .input__clear
{
    width: 31px;
}

.input_size_m .input__control
{
    height: 31px;
    padding: 0 0 0 10px;
}

.input_size_m .input__hint
{
    line-height: 32px;

    padding-left: 11px;
}

.input_size_m .input__found
{
    line-height: 32px;
}